@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Farro:wght@300;400;500;700&family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Table-content{
    width: 100%;
    border-radius: 15px;
    border-spacing: 0;
    min-width: 900px;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.Table-content th ,
.Table-content td {
    border-bottom: 2px solid #cfcece;
    padding: 12px 15px;
    background-color: white;
}

.Table-content td{
      border-right: 2px solid #cfcece;
      
}

.Table-content th {
    font-family: "Salesforce Sans", -apple-system, BlinkMacSystemFont,
                 "Segoe UI", Roboto, Helvetica, Arial, sans-serif;   
    padding: 5px 10px;
    font-weight: 500;
    font-size: 0.9em;
    text-align: left;
    position: sticky;
    line-height: 0.8;
    top: 0;
    z-index: 2;
}

.Table-content th:not(:last-child)::after{
    content: "";
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
    width: 2px;
    background: #cfcece;
}

.Table-content a {
    text-decoration: none;
    text-emphasis: none;
    color: black;
}

/* Pagination */

.pageContainer{
    display: flex;
    flex-direction: row;

}

.pageContainer button{
    margin: 15px;
    background-color: #fff;
    border: 2px solid #cfcece ;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 1px 1px 2px #717070 ;
}

.pageContainer button.active{
    background: linear-gradient(135deg, #5266e5, #4c4eab);
    color: #fff;
    border: 2px solid #5266e5;
    box-shadow: 2px 2px 1px 1px rgba(30, 64, 175, 0.4);
    padding: 5px 10px;

}